body{
    
    background-color: orange;
}
#root{
    display: block;
    width: 500px;
    height: 500px;
    }
    
    .container{
    max-width: 1000px;
    margin: 20px auto;
    width: 500px;
    height: 500px;
    }